* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {


    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(shawn-nmpW_WwwVSc-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* Header Layout */
header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: rgba(37, 33, 33, 0.842);
    color: white;
    position: fixed;
    width: 100%;
}


.header-menu-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-menu nav {
    display: flex;
    gap: 20px;
}

.header-menu nav li {
    list-style: none;
}

.header-menu nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    transition: 0.2s;
}


.header-menu nav li a:hover {

    color: #f8bf2c;
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 15px;

}


.header-icon a {

    color: white;
}

.header-hr {
    width: 1px;
    height: 50px;
    background-color: rgb(230, 226, 226);
    border: none;
}

.book-table .btn {
    background-color: #f8bf2c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.4s ease;




}

.book-table .btn:hover {

    background-color: transparent;
    color: white;
    border: 2px solid white;


}

/* header end */




/* part-1 start */

.container-part-1 {


    background-color: transparent;
    /* background-position: center; */
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.part-1-content {

    margin-top: 200px;

}


.part-1-content h1 {

    color: white;
    font-size: 50px;
    margin-top: 20PX;
    letter-spacing: 7px;

}

.part-1-content .part-1-hr{ 

    border: 2px solid #f8bf2c;
    width: 50px;
    position: relative;
    left: 320px;
    margin: 20px auto;
    margin-left: 5px;
    
}



.part-1-content .title{

    color: #f8bf2c;
    margin: 20px 0;
    font-size: 60px;
    font-family: "Satisfy", cursive;
}

.container-part-1 .part-1-content .part-1-desc{

    color: white;
    line-height: 30px;
    font-size: 25px;
}


/* part-1 end */


/* PART-2 START */



.part-2-middle .middle-left-side{

 display: flex;

 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;


}


.part-2-middle{


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


.part-2-top{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}


.part-2-content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 50PX;
    padding-bottom: 50PX;
    gap: 50px;
}

.part-2-container{

background-color: white;
height: 400px;
width: 100%;


}

.part-2-content .part-2-top h1{

  font-size: 40px;

}

.btn-0{

padding: 5px;
padding-right: 100px;



}


.btn-1{

    height: 100px;
    width: 300px;
    padding-left: 5px;
}


.button-2{

padding: 10px 15px;
margin-bottom: 10px;
background-color: #f8bf2c;
color: white;
border: none;


}


/* PART-2 end */




/* footer starts */


footer {

    height: 400px;
    width: 100%;
    background-color: rgba(61, 57, 57, 0.658);
    display: flex;
    justify-content: center;
    

}

.footer-container {

    display: flex;
    flex-direction: column;


}

.footer-upper-part {

    display: flex;
    flex-direction: row;
    gap: 50px;


}




.upper-card-1 {


    text-align: left;
    margin: 25px 0;
}


.upper-card-1 .title {


    color: white;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}

.upper-card-1 .card-1 {

    border: 2px solid #f8bf2c;
    margin-top: 10px;
    width: 50px;
    margin-bottom: 3px;

}


.upper-card-1 .upper-card-1-desc {

    color: white;
    text-align: left;
    margin: 20px 0;
}

.upper-card-1 .btn-6 {


    background-color: #f8bf2c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.4s ease;



}

.upper-card-1 .btn-6:hover {

    color: white;
    background-color: transparent;

}

.upper-card-3 {


    text-align: left;
    margin: 25px 0;
}


.upper-card-3 .title {


    color: white;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}


.upper-card-3 .card-1 {

    border: 2px solid #f8bf2c;
    margin-top: 10px;
    width: 50px;
    margin-bottom: 3px;

}

.upper-card-3 .images {


    display: flex;
    flex-direction: row;
}

.img-1 {


    border: 2px solid #292929;
    border-bottom: none;
}


.upper-card-4 {


    text-align: left;
    margin: 25px 0;
}



.upper-card-4 .title {


    color: white;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}


.upper-card-4 .card-1 {

    border: 2px solid #f8bf2c;
    margin-top: 10px;
    width: 50px;
    margin-bottom: 3px;

}


.footer-lower-part{

    display: flex;
    flex-direction: row;
    gap: 400px;
    justify-content: ;
    align-items: center;
    margin-top: 20px;
}


.lower-part-icon i{

    font-size: 20px;
    color: white;

}













/* footer ends */














