* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(shawn-nmpW_WwwVSc-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Header Layout */
header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: rgba(37, 33, 33, 0.842);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-menu-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-menu nav {
    display: flex;
    gap: 20px;
}

.header-menu nav li {
    list-style: none;
}

.header-menu nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    transition: 0.2s;
}

.header-menu nav li a:hover {
    color: #f8bf2c;
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icon a {
    color: white;
}

.header-hr {
    width: 1px;
    height: 50px;
    background-color: rgb(230, 226, 226);
    border: none;
}

.book-table .btn {
    background-color: #f8bf2c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.4s ease;
}

.book-table .btn:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

/* part-1 start */
.container-part-1 {
    background-color: transparent;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.part-1-content {
    margin-top: 200px;
}

.part-1-content h1 {
    color: white;
    font-size: 50px;
    margin-top: 20px;
    letter-spacing: 7px;
}

.part-1-content .part-1-hr {
    border: 2px solid #f8bf2c;
    width: 50px;
    margin: 20px auto;
}

.part-1-content .title {
    color: #f8bf2c;
    margin: 20px 0;
    font-size: 60px;
    font-family: "Satisfy", cursive;
}

.container-part-1 .part-1-content .part-1-desc {
    color: white;
    line-height: 30px;
    font-size: 25px;
}

/* PART-2 */
.part-2-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.part-2-middle .middle-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.part-2-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.part-2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 50px;
    gap: 50px;
}

.part-2-container {
    background-color: white;
    min-height: 500px;
    width: 100%;
}

.part-2-content .part-2-top h1 {
    font-size: 40px;
}

.btn-0 {
    padding: 5px;
    height: 40px;
    width: 300px;
    border: 2px solid gray;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin: 3px;
    box-shadow: 2px 2px 2px rgba(92, 90, 90, 0.699);
    transition: .2s;
}

.btn-0:hover {
    background-color: rgba(248, 248, 248, 0.418);
    font-size: 15px;
    color: rgb(24, 22, 22);
    transform: scale(1.2);
    border: 1px solid rgb(196, 195, 195);
}

.btn-1 {
    height: 150px;
    width: 400px;
    padding-left: 5px;
    text-align: left;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px gray;
}

.btn-1:hover {
    background-color: rgba(248, 248, 248, 0.418);
    font-size: 15px;
    color: rgb(24, 22, 22);
    transform: scale(1.2);
    border: 1px solid rgb(196, 195, 195);
}

.button-2 {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #f8bf2c;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px gray;
}

.button-2:hover {
    background-color: rgba(248, 248, 248, 0.418);
    font-size: 15px;
    color: rgb(24, 22, 22);
    transform: scale(1.1);
    border: 1px solid rgb(196, 195, 195);
}

/* footer */
footer {
    width: 100%;
    background-color: rgba(61, 57, 57, 0.658);
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-upper-part {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.upper-card-1, .upper-card-3, .upper-card-4 {
    text-align: left;
    margin: 25px 0;
}

.upper-card-1 .title,
.upper-card-3 .title,
.upper-card-4 .title {
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
}

.upper-card-1 .card-1,
.upper-card-3 .card-1,
.upper-card-4 .card-1 {
    border: 2px solid #f8bf2c;
    margin-top: 10px;
    width: 50px;
    margin-bottom: 3px;
}

.upper-card-1 .upper-card-1-desc {
    color: white;
    margin: 20px 0;
}

.upper-card-1 .btn-6 {
    background-color: #f8bf2c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.4s ease;
}

.upper-card-1 .btn-6:hover {
    color: white;
    background-color: transparent;
}

.upper-card-3 .images {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.img-1 {
    border: 2px solid #292929;
    border-bottom: none;
}

.footer-lower-part {
    display: flex;
    flex-direction: row;
    gap: 400px;
    align-items: center;
    margin-top: 20px;
}

.lower-part-icon i {
    font-size: 20px;
    color: white;
}

/* Responsive styles */
@media (max-width: 992px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    .header-menu-icon {
        flex-direction: column;
        gap: 20px;
    }

    .header-hr {
        width: 80%;
        height: 1px;
    }

    .container-part-1 {
        height: auto;
    }

    .container-part-1 .part-1-content .title {
        font-size: 25px;
    }

    .container-part-1 .part-1-content h1 {
        font-size: 30px;
    }

    .container-part-1 .part-1-content .part-1-desc {
        font-size: 20px;
    }

    .part-2-middle {
        flex-direction: column;
        gap: 60px;
    }

    .part-2-container {
        height: auto;
    }

    .part-2-container .part-2-content .part-2-top h1 {
        font-size: 25px;
    }

    .footer-upper-part {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .footer-lower-part {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    body {
        width: auto;
    }

    .header-menu nav {
        flex-direction: row;
        gap: 7px;
    }

    .btn-0,
    .btn-1 {
        width: 90%;
    }

    .footer-upper-part {
        gap: 15px;
    }

    .footer-lower-part {
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .container-part-1 .part-1-content .title {
        font-size: 20px;
    }

    .container-part-1 .part-1-content h1 {
        font-size: 25px;
    }

    .container-part-1 .part-1-content .part-1-desc {
        font-size: 16px;
    }

    .button-2 {
        width: auto;
    }

    .lower-part-icon i {
        font-size: 24px;
    }
}
